extends layout.pug

block index
    #admin
        h1 Admin
        .moderator
            h5 Add moderator
            form(action='/admin/moderator' method='POST')
                input(type='text' placeholder='Search user' required)
        .editMenu
            table
                thead.thead-dark
                    tr(style='font-size:20px')
                        th No.
                        th
                        th Price
                tbody
                    if menu
                        each entry in menu
                            tr.table-active
                                td 
                                    p #{entry.id}
                                td 
                                    p #{entry.name}
                                td
                                    p $#{entry.price}
            h5 Add menu
            form(action='/admin/menu' method='POST')
                input(type='text' name="menuName" placeholder='Name' required)
                input(type='text' name="menuPrice" placeholder='Price' required)
                select(type='text' name="categoryType")
                    each type in category
                        option(value=type)= type
                    
        .editCategory
            table
                thead.thead-dark
                    tr(style='font-size:20px')
                        th No.
                        th Name
                tbody
                    if menu
                        each category in categories
                            tr.table-active
                                td 
                                    p #{category.id}
                                td 
                                    p #{category.name}
            h5 Add category
            form(action='/admin/category' method='POST')
                input(type='text' name="category" placeholder='Category' required)
