extends layout.pug

block content
    .jumbotron
        h1 Moe's Tavern 
        h3 <em>@Springfield, Universal Studios Hollywood</em>
            span
                .col-md-2
                    .thumbnail
                        a(href='https://goo.gl/maps/yjA2ssh1Evo', target='_blank')
                            img(src='/images/display.jpg', alt='Lights', style='width:100%')
        p
            | "Moe's Tavern, or simply called Moe's, is the local tavern in Springfield. The bar is named after its owner: Moe."<br>- <em>Moe</em>
    #menu
        ul
            if pages
                each page in pages
                    li= page
        ul.breadcrumb#subnav
            li
                a#search(href='#') Search
            li
                a#filter(href='#') Filter
            li
                a#surprise(href='#') <em>Surprise Me!</em>
        .special.col-md-6
            form
                .input-group
                    input.form-control(type='text', placeholder='')
                    .input-group-btn
                        button.btn.btn-default(type='submit')
                            i.glyphicon.glyphicon-search
        table.table
            thead.thead-dark
                tr(style='font-size:20px')
                    th No.
                    th
                    th Price
            tbody
                if menu
                    each entry in menu
                        tr.table-active
                            td 
                                p #{entry.id}
                            td 
                                p.col-md-2 #{entry.name}
                                button.add.col-md-2.btn.btn-default.btn-xs(type='button' alt=entry.id ) Add to cart
                                input(type="number" id=entry.id value=1)
                            td
                                p $#{entry.price}
    script.
        $(document).ready(function() {
            $('.special').hide();
            /*Subnav for menu*/
            /*var list = document.getElementById("subnav").getElementsByTagName("li");
            console.log(list);
            for(var i = 0; i < list.length; i++) {
                console.log(`a#${list[i].lastChild.id}`)
                $(`a#${list[i].lastChild.id}`).onclick = function() {
                    console.log('This is le breadcrumb');
                    return false;
                }
            }*/
            document.getElementById("search").onclick = function() {
                console.log('This is le search');
                $('input.form-control').attr("placeholder", "Search");
                $('.special').show(300)
                return false;
            };
            
            document.getElementById("filter").onclick = function() {
                console.log('This is le filter');
                $('input.form-control').attr("placeholder", "Filter")
                $('.special').show(300)
                return false;
            };
            
            document.getElementById("surprise").onclick = function() {
                console.log('This is le surprise');
                $('input.form-control').attr("placeholder", "Surprise")
                $('.special').show(300)
                return false;
            };
            
        })
