doctype html
html
    head
        title Moe's Bar
        block header
            meta(charset='utf-8')
            meta(name="viewport" content="width=device-width, initial-scale=1")
            link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
            script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
            script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
            link(rel='stylesheet', type='text/css', href='css/style.css')
    body
        .background-image
        block index
            nav.navbar.navbar-inverse
                .container-fluid
                    ul.nav.navbar-nav
                        li
                            a(href='/') Home 
                    ul.nav.navbar-nav.navbar-right
                        if !user
                            li
                                a(href='/register')
                                    span.glyphicon.glyphicon-user
                                    |   Sign Up
                            li
                                a(href='/login') 
                                    span.glyphicon.glyphicon-log-in
                                    |   Login
                        else 
                            li 
                                a #{user.username}
                            li
                                a(href='/logout') Logout
                            if user.moderator
                                li
                                    a(href='/edit') Edit
                        li.dropdown
                            a.dropdown-toggle(data-toggle='dropdown', href='#')
                                | Cart 
                                span#cartItems (#{Object.keys(cart).length})
                                span.caret
                            ul.cart.dropdown-menu
                                - for (var item in cart)
                                    li.myCart
                                        a.items(id=cart[item].id) #{cart[item].name} (#{cart[item].count})
                                li.divider
                                if cart
                                    li
                                        a#clearCart Clear
                                    li
                                        a(href='/myCart') Checkout
            if alert
                .alert.alert-success= alert
            if message
                .message
                    .alert.alert-danger= message
            br
            block content
            br
            block footer
                .footer
                    h2 Contact Us #{message}
                    p +3132123456
        script.
            $(document).ready(function() {

                /*Cart Function*/

                /*Add*/
                $('button.add').click(function() {
                    let entryId = $(this).attr('alt');
                    const count = $(this).closest('td').find('input').val();
                    
                    $.get('/jquery/add', { input: entryId, count: count }, function(data){
                        $(`a#${entryId}`).show();
                        console.log(Object.keys(data).length);
                        if($(`a#${entryId}`).text()){
                            $(`ul.cart.dropdown-menu a#${entryId}`).text(function(i,entry) {
                                return `${data[entryId].name} (${data[entryId].count})`
                            })
                            /*$(`a#${entryId}`).html(`${data[entryId].name} (${data[entryId].count})`);*/
                        } else {
                            $('ul.cart.dropdown-menu').prepend(`<li class='myCart'><a id=${entryId}> ${data[entryId].name} (${data[entryId].count}) </a></li>`)
                        }
                        $('span#cartItems').html(`(${Object.keys(data).length})`);
                        return;
                    });
                });
                
                /*Clear*/
                $('a#clearCart').click(function() {
                    $('li.myCart').html("");
                    $('span#cartItems').html('(0)')
                    $.get('/jquery/clearCart', function(){
                        return;
                    })
                });
                
                /*Form Function*/
                
                /*Passwords Match*/
                if($('h1.form').text() === 'Register'){
                    $('input.passwordConf.form-control').keyup(function(){
                        let confirm = $(this).val();
                        let password = $('input.password.form-control').val();
                        
                        if(confirm !== password){
                            $('.message').html('Error: <em>Passwords do not match!</em>')
                        } else {
                            $('.message').html('')
                        }
                    });
                    
                    /*Username check*/
                    $('input.username.form-control').keyup(function(){
                        let username = $(this).val();
                        
                        $.get('/jquery/username', { username: username }, function(data){
                            if(data){
                                $('.message').html('Error: <em>Username is already taken!</em>')
                            } else {
                                $('.message').html('')
                            }
                        });
                    });    
                }
            })
