extends layout.pug

block content
    #admin
        h1= user.username
        if admin
            .moderator.col-sm-12
                h2 Moderators
                table.table
                    thead.thead-dark
                        tr(style='font-size:20px')
                            th ID
                            th Moderators
                    tbody
                        if users
                            each moderator in users
                                tr.table-active
                                    td 
                                        p #{moderator.dataValues.id}
                                    td 
                                        p #{moderator.dataValues.username}
                .col-sm-6
                    h5 Add moderator
                    form(action='/edit/moderator' method='POST')
                        input.form-control(type='text' name="name" placeholder='Search user' required autocomplete="off")
                        button.btn.btn-default(type='submit') Submit
                .col-sm-6
                    h5 Remove moderator
                    form(action='/rmv/moderator' method='POST')
                        input.form-control(type='text' name="name" placeholder='Search user' required autocomplete="off")
                        button.btn.btn-default(type='submit') Submit
        .editMenu.col-sm-12
            h2 Menu
            table.table
                thead.thead-dark
                    tr(style='font-size:20px')
                        th ID
                        th
                        th Price
                tbody
                    if menu
                        each entry in menu
                            tr.table-active
                                td 
                                    p #{entry.dataValues.id}
                                td 
                                    p #{entry.dataValues.name}
                                td
                                    p $#{entry.dataValues.price}
            .col-sm-6
                h5 Add menu
                form(action='/edit/menu' method='POST')
                    input.form-control(type='text' name="name" placeholder='Name' required autocomplete="off")
                    input.form-control(type='text' name="price" placeholder='Price' required autocomplete="off")
                    input.form-control(type='text' name="category" placeholder='Category' required autocomplete="off")
                    button.btn.btn-default(type='submit') Submit
            .col-sm-6
                h5 Remove menu
                form(action='/rmv/menu' method='POST')
                    input.form-control(type='text' name="name" placeholder='Name' required autocomplete="off")
                    button.btn.btn-default(type='submit') Submit
        .editCategory.col-sm-12
            h2 Categories
            table.table
                thead.thead-dark
                    tr(style='font-size:20px')
                        th ID
                        th Name
                tbody
                    if categories
                        each category in categories
                            tr.table-active
                                td 
                                    p #{category.dataValues.id}
                                td 
                                    p #{category.dataValues.name}
            .col-sm-6
                h5 Add category
                form(action='/edit/category' method='POST')
                    input.form-control(type='text' name="category" placeholder='Category' required autocomplete="off")
                    button.btn.btn-default(type='submit') Submit
            .col-sm-6
                h5 Remove category
                form(action='/rmv/category' method='POST')
                    input.form-control(type='text' name="category" placeholder='Name' required autocomplete="off")
                    button.btn.btn-default(type='submit') Submit
