extends layout.pug

block content
    .cart
        table.table
            thead.thead-dark
                tr
                    th No. of Items
                    th Items
                    th Price
            tbody
                each entry in cart
                    tr.table-active
                        td 
                            p X #{entry.count}
                        td 
                            p #{entry.name} ($#{entry.price})
                        td
                            p  $#{entry.count * entry.price}
                tr
                    td
                        p Total
                    td
                    td
                p $#{total}
        form(action='/pay' method='POST')
            if cart[0]
                button.btn-default.btn-sm(type='submit' value='Checkout') Checkout
            else 
                button.btn-default.btn-sm(type='submit' value='Checkout' disabled) Checkout
                        
